
.container {
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  z-index: 2;
}

/* NAVBAR------------------------------------------*/
.nav {
  background-color: #fff;
  padding: 2rem 1.5rem 2rem 0;
  border-bottom: 1px solid #333;
}

.nav ul {
  margin: auto;
}

.nav li {
  font-size: 1.5rem;
  display: inline-block;
  margin: 1rem;
}

.nav a {
  text-decoration: none;
  color: #333333;
}

.nav a:hover {
  color: #dcdcdc;
}

i {
  color: #333333;
}

.nav i:hover {
  color: #dcdcdc;
}

#links {
  float: left;
}

#icons {
  float: right;
}

/* SIDEBAR___________________________________*/

.sidebar {
  background-color: #fff;
  border-right: 1px solid #dcdcdc;
  margin-top: 3%;
  position: relative;
  z-index: 2;
  padding-left: 1%;
}

.sidebar h2 {
  color: #dcdcdc;
}

.sidebar a {
  text-decoration: none;
  color: #333333;
  font-size: 2rem;
  display: block;
  padding: 4%;
}

.sidebar ul {
  text-align: center;
  text-decoration: none;
}

.sidebar li {
  padding: 3%;
  list-style: none;
}

.me {
  height: 55rem;
  opacity: 0.5;
  background-image: url('me.jpg');
  background-size: 35rem;
  margin-top: -7%;
}

/* MAIN BLOG CONTENT_________________________*/

.blog-main {
  background-color: #fff;
  margin-top: 3%;
  position: relative;
  z-index: 2;
}


/*BACKGROUND IMG_________________________*/

.main {
  position: relative;

}

.main:after {
  content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url('http://static.tumblr.com/acab8ff64e86438d0f371cfafe1515a0/xnbxehq/kCPnm56v0/tumblr_static_60q8g9457ww8g0gc4s0sws48s.png');
    background-repeat: repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

/*IMAGES_______________________________*/

img {
  margin: auto;
  max-width: 22%;
  display: inline;
  border: 4px solid #dcdcdc;

}
