.container {
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
}

/* NAVBAR------------------------------------------*/
.nav {
  background-color: #fff;
  padding: 1rem 0 1rem;
}

.nav ul {
  margin: auto;

}

.nav li {
  font-size: 1.5rem;
  display: inline-block;
  margin: 1rem;
}

.nav a {
  text-decoration: none;
  color: #333333;
}

.nav a:hover {
  color: #dcdcdc;
}

i {
  color: #333333;
}

i:hover {
  color: #dcdcdc;
}

#links {
  float: left;
}

#icons {
  float: right;
}

/*hero------------------------------------------*/

.hero {
  background-image: url("http://static.tumblr.com/acab8ff64e86438d0f371cfafe1515a0/xnbxehq/kCPnm56v0/tumblr_static_60q8g9457ww8g0gc4s0sws48s.png");
  background-size: cover;
  height: 60rem;
  border: 1px solid #333;
  display: flex;

}


.title {
  margin-top: 20rem;
  background-color: #fff;
  border: .5rem solid #333;
  width: 46%;
  height: 18%;
  padding: 2rem 3rem 3rem 3rem;
}

.title p {

  color: #333;
  font-size: 6rem;
  font-weight: 600;
  position: relative;
  margin: auto;
  text-align: left;

}



/* PROJECTS________________________________________*/

.project {
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 15% 0 15% 0;
}



/* BLOGS____________________________________________*/

.blog {
  background-color: #fff;
  max-width: 100%;
  color: #333;
  display: flex;
}

.blogs {
  border-top: 2px solid #333333;
  padding: 15% 0 15% 0;
}


.blog a {
  display: inline-block;
  position: relative;
  margin: 1rem 5rem 1rem 5rem;
  text-decoration: none;
  font-size: 2rem;
  justify-content: space-around;
  color: #333;
}

.blog a:hover {
  color: #dcdcdc;
}

.blogs h2 {
  font-size: 4rem;
  padding-top: 2rem;

}

@media (max-width: 400px) {

  p {

    font-size: 3em;
  }

  .project i {
    justify-content: space-around;
  }

}