body {
  background: #fff;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #2E2D33;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.page-wrap{
  display: block;
}


.section-wrap {
  display: block;
  max-width: 90%;
  float: right;
}


header {
  text-align: center;
  position: fixed;
  background-color: #fff;
  height: 100%;
  width: 135px;
  float: left;
}

header h1 {
  font-size: 8rem;
  color: #333;
  font-weight: bold;
}

.header-position {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.header-position a {
  color: #999;
  text-align: right;
}

.site-nav {
  background-color: #fff;
  color: #999;
  width: 135px;
  margin: 150px 0px 150px -20px;
  text-align: right;
}

.site-nav li, .contacts li{
  text-decoration: none;
  color: #999;
  padding: 5px;
}

.site-nav a, .contacts a{
  color: #999;
}



.about {
  height: 100px;
  background-color: yellow;
  color: #666;
  margin:0;
  padding: 50px;
}

.jumbo {
  width: 100%;
  height: 490px;
  background-image: url('../images/giphy.gif');
  background-size: cover;
}

.projects {
  background-color: lightblue;
  padding: 100px 40px 100px 40px;
}
.projects p, .blogs p {
  margin-top: -10px;
}

.projects a {
  color: #333;
}

.divider {
  background-color: #333;
}

.wrap {
  height: 25%;
  color: #fff;
  padding: 40px 30px 30px 30px;
  width: 70%;
  margin: auto;

}

.wrap #quote {
  font-size: 3rem;
  font-family: sans-serif;
  color: #dcdcdc;
}

.wrap #author {
  font-size: 2rem;
  font-style: italic;
  text-align: right;
  margin-right: 7%;
}


.blogs {
  background-color: hotpink;
  padding: 50px;

}

.blogs a {
  color: #fff;
  font-size: 2rem;
}

.flex {
  display: flex;
  justify-content: center;
}

.cultural, .technical {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.cultural h4, .technical h4 {
  color: #333;
}

.col-50 {
  display: flex;
  justify-content: space-around;
}

.col-4 {
  width: 250px;
  height: 250px;
  /* border: 2px solid #000; */
  margin-top: 50px;
}

.contacts {
  padding: 50px;
  font-size: 2rem;
}

.contacts ul {
  display: inline-block;
}

img {
  max-height: 50%;
}

#bobshake, #calc {
  margin-top: 30px;
}

//_____________________MEDIA QUERIES_______________________//

@media (max-width: 775px) {
  header {
    display: none;
  }

  .site-nav {
    width: 100px;
  }

  .wrap #quote {
    font-size: 2rem;
  }

  .wrap #author {
    font-size: 1.5rem;
  }
}



//______________________________BLOG MENU_______________________________//

.bg-wrapper {
  width: 100%;
  position: absolute;
}

.bg-wrapper a {
  color: #999;
}

.top-menu {
  height: 200px;
  background-color: hotpink;
  display: flex;
  align-items: flex-end;
}

.top-blog {
  height: 100px;
  background-color: aquamarine;
  margin-top: -100px;
}

.top-cult {
  background-color: tomato;
  height: 100px;
  margin-top: -100px;
}

.top-menu p {
  color: #fff;
  font-size: 3rem;
  margin-left: 10px;
}

.blog-menu-heading, .blog-subheading, .blog-blurb {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

.blog-blurb {
  margin-bottom: 5%;
}

.blog-subheading {
  margin-top: -20px;
}

.hme-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}

//______________________________BLOG CONTENT_________________________//

.blog-heading {
  font-size: 2.5rem;
}

.blog-content {
  width: 100%
  position: absolute;
  text-align: left;
  padding-top: 100px;
}

.blog-content .row {
  width: 70%;
  margin: auto;
}

.blog-text h4{
  font-size: 2rem;
  margin-top: 50px;
}

.blog-text:last-child {
  margin-bottom: 200px;
}

.contact-btn, .blog-btn, .portfolio-btn{
  color: #999;
  background-color: #fff;
  padding: 20px 0 0 0;
}

.index-btn {
  font-size: 2rem;
}

.contact-btn {
  float: right;
  margin-right: -100px;
}

.img-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.img-wrap img {
  height: 400px;
  margin: 15px;
}
