h1 {
  color: #50575e;
  font-family: Courier;
  font-size: 50px;
}

h2 {
  color: #50575e;
  font-family: Verdana;
  font-size: 30px;
}

a {
  color: #000000;
  font-family: Tahoma;
  font-size: 18px;
}

body {
  background-image: url('blog-background.jpg'), center, fixed;
}
