.header {
  background-color: #ffffff;
  width: 200px;
  height: 100px;
  position: center;
}

h1 {
  color: #50575e;
  font-family: Courier;
  font-size: 50px;
}

h2 {
  color: #50575e;
  font-family: Verdana;
  font-size: 35px;
}

li {
  color: #000000;
  font-size: 18px;
  font-family: Tahoma;
}

body {
  background: url('https://unsplash.com/photos/eBDdgbM5dSo'), center, fixed;
}
